
<button (click)="onClickMe()">Click me!</button>
<p>
  <mat-toolbar color="primary">
    <span>Report Chatbot geöffnet</span>
  </mat-toolbar>
</p>

<mat-table [dataSource]="dataSource" matSort>
  <!-- Seite Column -->
  <ng-container matColumnDef="Seite">
    <mat-header-cell *matHeaderCellDef class="Seite" mat-sort-header> Seite</mat-header-cell >
    <mat-cell *matCellDef="let element"> {{element.Seite}} </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
  </ng-container>

  <!-- Aufrufe Column -->
  <ng-container matColumnDef="Aufrufe">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Aufrufe </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Aufrufe}} </mat-cell>
  </ng-container>

  <!-- Absprünge Column -->
  <ng-container matColumnDef="Abspruenge">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Absprünge </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Abspruenge}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
