@import 'src/theme.scss';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color($my-custom-primary);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($my-custom-primary) !important;
    }
  }
}

.mat-list-item {
  padding: 10px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}
